[Unit]
Description=Mtpgo Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/mtpgo
ExecStart=/var/mtpgo/mtpgo -c /var/mtpgo/config.ini
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
